body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin:0;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #1f2937;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding: 20px 0 20px 0;
    width: 80%;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
li {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #1f2937;
    padding-bottom: 80px;
    padding-top: 20px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding: 20px 0 20px 0;
    width: 80%;
    gap: 30px;
}

.hero-left {
    width: 45%;
}

.left-hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.left-hero p {
    color: #e5e7eb;
    font-size: 18px;
}

.left-hero button {
    background-color: #3882f6;
    border-radius: 10px;
    border: none;
    color: #f9faf8;
    font-weight: bold;
    padding: 8px 32px 8px 32px;
}

.right-hero {
    width: 55%;
}

.right-hero img {
    width: 100%;
    height: auto;
    min-width: 350px;
}


.information-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #f9faf8;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9faf8;
    width: 80%;
    gap: 15px;
}

.sections {
    display: flex;
    flex-direction: row;
}